@require './mixins.styl'
.studentVideoBox{
  position: absolute;top: 0;
  width: 100%;
  height: 100%;
  overflow hidden
}
.studentVideoBox    .studentMin{
      width: 80%;
      height: 73.2%;
      top: 14.5%;
      left: 9.9%;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0%;
    }
.studentVideoBox    .none{
      display: none;
    }
.studentVideoBox    #output{
      position: absolute;
      z-index: 99;
      width: 100%;
      //top: 19%;
      //width: 62%;
      //left: 35%;
    }
.studentVideoBox    .cameraImg{
      position: absolute;
      left: 47%;
      top: 20px;
      width 232px
    }
.studentVideoBox    .cameraJie{
      position: absolute;
      right: 40px;
      width: 360px;
      top: 55px;
    }
.studentVideoBox    .arBg{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
.studentVideoBox    .all{
      width: 100%;
      height: 100%;
    }
.studentVideoBox    #canvas{
        position: absolute;width: 100%
      }