@require './mixins.styl'
.bodyChooseAudioCon
  .senseBox
    .clockBox
      width 550px
      height 156px
    .titleImg
      width 550px
      height 156px
      border-radius 20px
      position absolute
      top 0
      left 0
    .clock
      top 30px
      left 15px
      float left
    .avatarBottom
      width 92px
      height 92px
      border-radius 50%
      border 3px solid #fff
    .elRow
      position absolute
      width 100%
      bottom 110px
      img 
        position absolute
        // left 320px!important
        // top -300px
        // left 1480px!important
        // top -300px
      img:nth-of-type(1)
        left 20px
      img:nth-of-type(2)
        left 155px  
      img:nth-of-type(3)
        left 290px  
      img:nth-of-type(4)
        left 425px  
      img:nth-of-type(5)
        left 560px  
      img:nth-of-type(6)
        left 695px  
      img:nth-of-type(7)
        left 830px  
      img:nth-of-type(8)
        left 965px   
      img:nth-of-type(9)
        left 1100px
      img:nth-of-type(10)
        left 1235px
      img:nth-of-type(11)
        left 1370px
      img:nth-of-type(12)
        left 1505px
      img:nth-of-type(13)
        left 1640px
      img:nth-of-type(14)
        left 1775px    
    .senseTeam
      bottom 95px
    .animatBox
      top 32px  
    .clockBox
      top 30px
    .sahuaObj
      top -450px
