.body-sense
  // width 1920px
  // height 1080px
  width 100%
  height 100%
  .top-part
    position relative
    margin 0 auto
    text-align center
    transform: scale(0.75)
    .count-down-clock
      display inline-block
      position relative
      left 2px
      top 0
      z-index 1
      margin 0 auto
      width 168px
      height 168px
      background url(../images/count-down-clock.png)
      background-size 100%
      background-repeat no-repeat
    .title
      display inline-block
      position relative
      bottom 55px
      left -60px
      z-index 0
      width 50%
      height 86px
      line-height 78px
      font-size 72px
      margin 0 auto
      background-color #ffffff
      border-radius 68px
      label
        display block
        position absolute
        top -200px
        left 0
        right 0
    path.el-progress-circle__track
      stroke #d6d6d6
    .el-progress--circle
      position absolute
      left 22%
      top 31px
      z-index 1
      i
        display none
  .choose-area
    width 70%
    padding 32px
    margin 0 auto
    li
      display inline-block
      width 400px
      height 400px
      background #fff
      border-radius 32px
      text-align center
      box-shadow 2px 2px 14px rgba(0, 0, 0, 0.15)
      .flash-clap
        position absolute
        bottom 8px
      .leg
        left 0
        bottom 0
      .hand
        right 0
        bottom 0
      .inside
        position relative
        background #ffffff
        border-radius 26px
        width 90%
        height 90%
        margin 0 auto
        border #fffaeb 28px solid
        img
          margin auto
          position absolute
          width 206px
          left 0
          top 0
          right 0
          bottom 0
        p
          font-size 48px
      i.icon-checkmark
        position absolute
        top -80px
        z-index 9
        width 150px
        height 150px
        background url(../images/checkmark.png)
        background-size 100%
        background-repeat no-repeat
        opacity 0
    li.float-left
      i.icon-checkmark
        left 22%
    li.float-right
      i.icon-checkmark
        right 21%
  .result-area
    width 87%
    margin 0 auto
    li.result-list
      width 683px
      min-height 420px
      // height 330px
      background rgba(255, 255, 255, 0.5)
      border-radius 8px
      .result
        width 88%
        margin 0 auto
        margin-top 35px
        text-align center
        li
          display inline-block
          position relative
          text-align center
          font-size 20px
          margin-left 25px
          margin-right 25px
          margin-bottom 25px
          img
            width 70px
            height 70px
            border-radius 50%
            border #fff 3px solid
          i.icon-star
            position absolute
            top -25px
            left 0
            width 54px
            height 62px
            background url(../images/get-stars.png)
            background-size 100%
          span
            position absolute
            font-size 28px
            top -20px
            left 25px
            -webkit-text-fill-color #D48A1E
            -webkit-text-stroke-width 1px
            -webkit-text-stroke-color #fff
            letter-spacing -4px
            