@require './mixins.styl'
.readyNow
  .readyCon
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 888;
    top 0
  .bodyReadyGo
    width: 2.96875rem;
    height: 1.119791666666667rem;
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    .bodyReadyRead
      position: absolute;
      width: 570px;
      height: 215px;
      background: url(../images/ready.png);
      background-size: 100% 100%;
    .readyY
      position: absolute;
      right: -206px;
      top: 0.286458333333333rem;
      opacity: 1;
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      width: 1.807292rem;
      height: 0.854166666666667rem;
      background: url(../images/ready-y.png) no-repeat;
      background-size: auto 100%;
    .BodyGo
      position: absolute;
      top: 1.041666666666667rem;
      left: 27%;
      width: 1.390625rem;
      height: 0.890625rem;
      opacity: 1;
      background-size: 100% 100%;
      background: url(../images/go.png) no-repeat;
      background-size: auto 100%;
      // opacity 0
