.read-pro
  // width 1920px
  // height 1080px
  width 100%
  height 100%
  background url(../images/grab-back.jpg)
  padding-top 1px
  .title
    padding-top 1px
    margin 0 auto
    position relative
    label
      position absolute
      font-size 100px
      top 150px
      left 0
      right 0
      bottom 0
      margin 0 auto
      text-align center
      letter-spacing 5px
  .icon-record
    position absolute
    width 248px
    height 248px
    top 60px
    left 11%
    background url(../images/icon-record.png)
    background-size 100%
    .equilizer
      top 80px
    .wave-right
      right -65px
    .wave-left
      left 0px
  .icon-star-face
    position absolute
    left 25%
    top -12px
    width 143px
    height 142px
    z-index -1
  .score-area
    display block
    position relative
    .avatar-list
      top 20px
      li
        opacity 1
        margin-left 30px
        margin-right 40px
        &:nth-child(1)
          top 0px
          left -5%
        &:nth-child(odd)
          top 100px
        &:nth-child(8)
          top 0px
          right -5%
        &:nth-child(9)
          top 150px
          left -20%
        &:nth-child(10)
          top 200px
          left -15%
        &:nth-child(11)
          top 150px
          left -7%
        &:nth-child(12)
          top 150px
          left 0
        &:nth-child(13)
          top 190px
          right 0
        &:nth-child(14)
          top 150px
          right -10%
#app .title-words
  position absolute
  span
    position absolute
    width 100%
    left 0
    right 0
    top 0
    bottom 0
    margin 0 auto
.title-words-switch
  position absolute
  left 0
  top -60px