#superContainer
	position:absolute;
	left:0px;
	top:0px;
	width:1024px;
	height:768px;

.pageBackground_share
	position:absolute;
	left:0px;
	top:0px;
	height:768px;
	width:1024px;

.style1
	color: #FFFFCC
.style4 
	font-size: 24px;
	color: #660000;

#vueContainer
	position:absolute
	left:0px
	top:0px
	width:1024px
	height:768px

.listRow
	width:100%
	height:50px
	font-size: 36px
.listChecked
	background:green

.info-list
	width:100%
	height: 360px
	font-size: 36px

th,tr
	min-width:120px
	min-height: 40px

th
	background:green
